:javascript
  function confirmDelete(){
    var agree=confirm("Are you sure you want to delete this post?");
    if (agree)
      return true;
    else
      return false;
  }

#admin{ :style => 'display:none;'}
  .row
    .column.grid_12
      %a{ :href => '/', :title => 'Home' } Home
      %a{ :href => '/posts', :title => 'Posts' } Posts
      %a{ :href => '/posts/new', :title => 'New Post' } New Post
      - if ! @post.blank? && ! @post.new_record?
        %a{:href => "/posts/#{@post.id}/edit" } Edit Post
      %a{ :href => '/settings', :title => 'Settings' } Settings
      %a{ :href => '/logout', :title => 'Logout' } Logout

:javascript
  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }
  if (readCookie('tga')) {
    el = document.getElementById('admin');
    el.style.display = 'block'
  }
