!!! 5
%html{ :lang => "en"}
  %head
    %title== Telegram CMS
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'description', :content => "" }
    %link{ :rel => 'stylesheet', :href => '/css/telegram.css' }
  %body
    #menu.admin
      .row
        .column.grid_12
          %a{ :href => '/', :title => 'Home' } Home
          %a{ :href => '/posts/new', :title => 'New Post' } New Post
    #header
      .row
        .column.grid_12
          %h1 Telegram CMS
    #content
      .row
        .column.grid_12
          =yield
    #footer
      .row
        .column.grid_12
          %p &copy; 2010 Telegram CMS
