!!! 5
%html{ :lang => "en"}
  %head
    %title== Telegram CMS
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'description', :content => "" }
    %link{ :rel => 'stylesheet', :href => '/css/telegram.css' }
    %link{ :rel => "alternate",  :type => "application/atom+xml", :title="Atom Feed", :href => "#{feed_url}" }
  %body
    #menu.admin
      .row
        .column.grid_12
          %a{ :href => '/', :title => 'Home' } Home
          %a{ :href => '/posts/drafts', :title => 'Drafts' } Drafts
          %a{ :href => '/posts/new', :title => 'New Post' } New Post
          %a{ :href => '/settings', :title => 'Settings' } Settings
    #header
      .row
        .column.grid_12
          %h1 Telegram CMS
    #content
      .row
        .column.grid_12
          =yield
    #footer
      .row
        .column.grid_12
          %p &copy; 2010 Telegram CMS
