%h2 Edit Post
- if @post.errors.any?
  #errors
    %h3 Errors
    %ul
    - @post.errors.full_messages.each do |msg|
      %li= msg

%form{ :action => "/posts/#{@post.id}", :method => 'post' }
  %input{ :type => 'hidden', :name => '_method', :value => 'put' }
  = haml :'posts/_form', :layout => false, :locals => { :post => @post }
  %input{ :type => 'submit', :name => 'Update', :value => 'Update' }
