%h2 New Post
- if @post.errors.any?
  #errors
    %h3 Errors
    %ul
    - @post.errors.full_messages.each do |msg|
      %li= msg

%form{ :action => '/posts', :method => 'post' }
  = haml :'posts/_form', :layout => false, :locals => { :post => @post }
  %input{ :type => 'submit', :name => 'Create', :value => 'Create' }
